/*
Theme Name: BlankSlate ma-emotion
Theme URI: https://github.com/tidythemes/blankslate
Author: TidyThemes & toaster16mb
Author URI: http://ma-emotion.ru
Description: <strong>UPDATE</strong> - 4.0+ is here, completely overhauled, yet again. As always, <a href="http://tidythemes.com/concept/#upgrading">use caution when upgrading</a> (tidythemes.com/concept/#upgrading) and <a href="http://tidythemes.com/concept/">learn the TidyThemes concept</a> (tidythemes.com/concept). &nbsp; &rarr; <em><strong>CAUTION</strong>: If you're child theming or have clients that are child theming on top of BlankSlate (not the recommended use), please do not blindly upgrade to newer versions.</em> &nbsp; &rarr; <strong>DESCRIPTION</strong>: BlankSlate is the definitive WordPress HTML5 boilerplate starter theme. We've carefully constructed the most clean and minimalist theme available anywhere for designers/developers to use as a base/foundation to build websites for clients or to build completely custom themes from scratch to release faster. Clean, semi-minified, unformatted and valid code, SEO-friendly, no programmer comments, standardized and as white label as possible and most importantly, CSS reset for cross-browser-compatability and no intrusive visual CSS styles added whatsoever. A perfect skeleton theme that blows any others like it (the subsequent underscores.me for example) completely out of the water, as they're simply too overcomplicated for what people really want in this kind of theme. Now comes with jQuery enqueued and ready to go. &nbsp; &rarr; <strong>SUPPORT</strong>: Please use the <a href="http://tidythemes.com/forum/">official support forum</a> (tidythemes.com/forum). Comments and suggestions for improving BlankSlate, please see "<a href="http://tidythemes.com/tidythemes-sucks/">TidyThemes Sucks!</a>" (tidythemes.com/tidythemes-sucks). Just getting started? <a href="http://tidythemes.com/want-to-learn-css/">Want to learn CSS?</a> (tidythemes.com/want-to-learn-css) &nbsp; &rarr; <strong>WHAT'S NEW?</strong>: We stripped down as much custom, extraneous, superfluous junk code as we could and greatly improved the HTML5 structure. <a href="http://make.wordpress.org/themes/author/chipbennett/">Chip Bennett</a> (make.wordpress.org/themes/author/chipbennett), a highly experienced programmer and official WordPress administrator, worked closely with us to audit the theme code for quality. <a href="http://themes.trac.wordpress.org/changeset?old_path=/blankslate/3.3&new_path=/blankslate/4.0">See</a> (themes.trac.wordpress.org/changeset?old_path=/blankslate/3.3&new_path=/blankslate/4.0) just how much we've revamped things. Last, but not least, BlankSlate has now been <a href="https://github.com/tidythemes/blankslate">opened up on GitHub</a> (github.com/tidythemes/blankslate) if anyone would like to make suggested code additions/improvements. Thank you for using BlankSlate.
Version: 4.0.4
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: blankslate

BlankSlate WordPress Theme © 2011-2017 TidyThemes & toaster16mb
BlankSlate is distributed under the terms of the GNU GPL
*/

/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}*/
/*.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important}*/
/*img {max-width: 100%;height: auto;}*/
/** {outline: none;box-sizing: border-box;}*/
/*a, a:hover, a:visited {color: inherit;text-decoration: none;}*/

@font-face {
    font-family: 'Gotham Pro';
    src: url('/fonts/GothamPro-Medium.eot');
    src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
    url('/fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamPro-Medium.woff') format('woff'),
    url('/fonts/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

a {
    color: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

body {
    background-color: #fff;
    font-family: "Gotham Pro Medium";
}

a:hover {
    text-decoration: none;
}

.container-fluid {
     padding-right: 0;
     padding-left: 0;
}

.container {
}


/*----------------Top Menu-----------------------------*/

.menu-header-container {
    line-height: 44px;
}

.menu-header-container ul {
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: 0;
}
.menu-header-container ul li a {
    color: inherit;
    display: block;
    padding: 0px 15px;
    font-size: 15px;
    line-height: 41px;
}
/*.active {*/
    /*border-bottom: 2px solid #f9ad3c;*/
/*}*/

/*.active:hover {*/
    /*border-bottom: transparent;*/
/*}*/

.menu-header-container ul li a:active {
    border-bottom: 2px solid #f9ad3c;
}

.menu-header-container ul li a:hover {
    border-bottom: 2px solid #f9ad3c;
    text-decoration: none;
}
ul, ol {
    list-style: none;
}

.top-menu {
    background: #f3f3f6;
}

.menu-header {
    display: inline-block;
}

.user-account-link {
    float: right;
    display: flex;
}

.user-account-link a {
    color: inherit;
    padding: 12px 15px;
    font-size: 15px;
}

.user-account-link a:hover {
    color: inherit;
    border-bottom: 2px solid #f9ad3c;
}

.sign-up {
    display: inline-block;
    background-color: #f9ad3c;
    color: #fff;
}
.login {
    display: inline-block;

}

/*----------------Primary menu-----------------------------*/

.header-primary {
    padding-top: 20px;
    padding-bottom: 10px;
}
.header-logo {
    text-align: center;
}
.header-logo img {
    width: 55%;
}

.fa-links-header-icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #e6e6e6;
    top: -3px;
}

/*----------------Search Menu-----------------------------*/

.search-menu {
    background: #f3f3f6;
    padding: 15px 0;
}

.search-form {
    display: flex;
    justify-content: flex-end;
}


/*------------------Slider With Banner----------------------------------*/
.slider-with-banner {
    margin: 30px 0;
}

.carousel.slide {
    background: #ebecec;
    height: 20rem;
}

/*----------------Featured Category-----------------------------*/

.featured-category {
    margin-top: 31px;
}
.f-category {
    border: 1px solid #f3f4f6;
    border-radius: 5px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    align-content: flex-start;
}

.f-category:hover {
    border: 1px solid #ffffff;;
    box-shadow: 0 0 30px 5px #00000017;
    color: #f9ad3d;
    -webkit-transition: all 150ms ease-out 0ms;
    -moz-transition: all 150ms ease-out 0ms;
    -o-transition: all 150ms ease-out 0ms;
    transition: all 150ms ease-out 0ms;
}

.title-with-line {
    display: block;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
}

.title-with-line:before,.title-with-line:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background-color: #f3f4f6;
    position: relative;
}

.title-with-line:before {
    margin-left: -100%;
    left: -14px;
}
.title-with-line:after {
    margin-right: -100%;
    right: -14px;
}

.f-category-caption {
    display: flex;
    text-align: left;
    font-size: 16px;
    flex: 0 1 auto;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 50px;
    width: 40%;
}

/*----------------Featured Product Slider-----------------------------*/

.full-width-grey {
    background-color: #f3f4f6;
    padding: 55px 0;
    margin: 30px 0;
}

.featured-product-slider {
    display: flex;
    justify-content: space-between;
}

.owl-wrapper {
    display: flex;
}

.featured-product-slider-title {
    font-size: 22px;
}

/*----------------Product Slider OWL-----------------------------*/

.featured-product-slider-owlbox {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.owl-buttons {
    display: flex;
    line-height: 46px;
    text-align: center;
}

.owl-prev, .owl-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #bbbbbb;
    border: 1px solid #bbbbbb;
}

.owl-prev:hover, .owl-next:hover {
    color: #f9ad3d;
    border: 1px solid #f9ad3d;
}

.owl-prev {
    margin-right: 15px;
}

.fa-links-slider-icon {
    line-height: inherit;
}


.product-item {
    border-left: none;
    border-right: none;
    zoom: 1;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #fff;
    box-shadow: 0 0 30px 5px #00000017;
    border-color: transparent;
    transition: box-shadow 400ms ease-out;
    -moz-transition: box-shadow 400ms ease-out;
    -webkit-transition: box-shadow 400ms ease-out;
    -o-transition: box-shadow 400ms ease-out;
}

.product-item:hover {
    box-shadow: 0 0 30px 5px #ffc10759;
}

.product-item-img {
    text-align: center;
}

.product-item-details {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.product-item-sku {
    color: #bbbbbb;
}

.product-item-name {
    font-size: 18px;
}

.product-item-info {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.price-final_price {
    font-size: 1.3rem;
    font-weight: 800;
}

.add-to-cart {
    border: transparent;
    color: #fff;
    background: #f9ad3d;
    border-radius: 18px;
    padding: 5px 15px;
}


/*----------------Product Slider OWL Items-----------------------------*/
.yandex-map {position: relative;}

.yandex-map-caption {position: absolute;right: 15%;top: 0;left: 15%;padding-top: 20px;padding-bottom: 20px;color: #000;text-align: center;width: 20%;height: 100%;background: #fff;}